.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}

.navigation_bar {
  display: flex;
  gap: 16px;
}

.mapContainer {
  position: relative;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
}
